.termin {
  background-color: var(--c-dark);
  padding: 8px 14px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  font-size: 1.1rem;
}

.termin__date {
  text-decoration: underline 3px var(--c-secondary);
  margin-right: 15px;
}
