.appContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.bandContainer {
  background-color: var(--c-dark);
  display: grid;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}
