:root {
  --c-primary: rgb(221, 63, 24);
  --c-secondary: rgb(219, 122, 43);
  --c-dark: rgb(16, 17, 19);
  --c-dark-2: rgb(40, 42, 48);
  --c-light: rgb(245, 230, 215);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
