.Nav {
  background-color: var(--c-dark-2);
  color: var(--c-light);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  z-index: 10;
}
